.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav--bar{
  display: flex ;
  background-color: yellowgreen;
  height:75px;
  justify-content: space-between;
  ;
  
}

.nav--logo{
  margin-top: -25px;
  margin-bottom: -25px;
  padding-left: 10px;

}


.newsposts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.newscard {
  flex-basis: 225px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-bottom: 2px;
  background-color: white;
}

.newscard > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 0px;
  object-fit: cover;
}

.newscard > b {
  padding : 13px;
  font-weight: 700;
  font-size: 18px;
}
.newscard > small {
  align-self: center;
}